.container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  position: relative;

  .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  
}